/* Global */
* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

html {
    font-size: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(228, 228, 228);
}

main {
    height: 100%;
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    padding: 0px;
    display: flex;
    border-bottom: 1px solid rgb(51, 51, 51);
    background-color: rgba(0, 0, 0, 0.772);
    backdrop-filter: blur(40px);
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;

}


nav li a {
    font-size: 1.8rem;
    padding: 5px 12px;
    color: #e6e6e6;
}

nav a,
#social-media-tags a {
    display: inline-block;
    text-decoration: 0;
    color: white;
    transition: 120ms;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#social-media-tags a {
    color: rgb(16, 166, 14);
}

nav a:hover,
#social-media-tags a:hover {
    color: white;
}

#social-media-tags {
    padding: 10px;
}

#social-media-tags li {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

#brand-title {
    margin-right: auto;
}

#brand-title i {
    font-size: 3rem;
}

#brand-title a {
    display: flex;
    gap: 20px;
    font-size: 2rem;
}



h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p,
input,
li {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 10px black;
}

h2 {
    color: #dddddd;
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.5;
}

footer {
    padding-top: 70px;
    margin-top: auto;
    text-align: center;
    color: rgb(206, 206, 206);
}

footer p {
    font-size: 1.7rem;
}

/* Background */
.spacer {
    aspect-ratio: 3/2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.background-home,
.background-bio {
    background-image: url(/svg-backgrounds/layered-peaks-4.svg);
    opacity: 50%;
    min-height: 650px;
}


#experience {
    background-image: url(/svg-backgrounds/wave-8.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.642), rgb(0, 0, 0)), url(/svg-backgrounds/stars-3.svg);

}

/* Home */
header.empty {
    height: 80px;
}

#home main {
    /* width: 80%; */
    max-width: 1200px;
}

#intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#profile-picture {
    max-width: 300px;
    max-height: 300px;
    border-radius: 47% 55%;
}

blockquote {
    margin: 0px;
    padding: 15px;
    margin: 80px auto;
    max-width: 1000px;
    font-style: italic;
}

blockquote p {
    font-size: 2.5rem;
    text-align: center;
    color: #ececec;
    padding: 10px 0;
    margin: auto;
}

blockquote p:last-of-type {
    text-align: end;
}

#btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.btn {
    font-size: 2.5rem;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 500ms;
}

.btn:hover {
    background-color: rgb(22, 159, 22);
}

/* Bio */
.bio main {
    width: 90%;
    display: flex;
    gap: 7%;
    /* background-color: rgba(6, 24, 13, 0.397); */
    background-color: rgba(0, 0, 0, 0.662);
    backdrop-filter: blur(30px);
    padding: 0% 5% 5% 5%;
}

.bio main p {
    font-size: 2rem;
}

/* Experience */
#experience main {
    display: flex;
    flex-direction: column;
    padding-left: 13%;
}

.exp-item {
    padding: 10px 0px 20px 0;
}

.exp-item h3 {
    font-size: 3rem;
    margin: 15px 0;
}

.exp-item h4 {
    font-size: 2.2rem;
    margin: 0;
}

.exp-item p {
    font-size: 2rem;
}

/* Portfolio */
#portfolio main {
    width: 80%;
    max-width: 1200px;
}

#portfolio h1 {
    padding-bottom: 15px;
    margin-bottom: 50px;
    /* border-bottom: 2px solid rgb(159, 159, 159); */
}

#portfolio h2 {
    font-size: 2.5rem;
}

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-card {
    padding: 1px;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    border-radius: 40px;
}

.project-content {
    background-color: rgba(0, 0, 0, 0.792);
    padding: 25px;
    border-radius: 40px;
    transition: 350ms;
}

.project-content p {
    font-size: 2rem;
    margin-bottom: 5px;
}

.project-content:hover {
    background-color: rgba(0, 0, 0, 0.395);
    color: white;
}

.project-card h2 {
    margin: 0;
}

/* Card borders */
.project-card:nth-child(1) {
    background: rgb(118, 98, 254);
    background: linear-gradient(90deg, rgba(118, 98, 254, 1) 0%, rgba(19, 28, 43, 1) 43%, rgba(141, 212, 244, 1) 100%);
}

.project-card:nth-child(2) {
    background: rgb(254, 241, 98);
    background: linear-gradient(90deg, rgba(254, 241, 98, 1) 0%, rgba(47, 0, 117, 1) 43%, rgba(161, 90, 222, 1) 100%);
}

.project-card:nth-child(3) {
    background: rgb(0, 59, 150);
    background: linear-gradient(90deg, rgba(0, 59, 150, 1) 0%, rgba(186, 25, 25, 1) 59%, rgba(24, 5, 29, 1) 100%);
}

.project-card:nth-child(4) {
    background: rgb(42, 102, 16);
    background: linear-gradient(90deg, rgba(42, 102, 16, 1) 0%, rgba(228, 238, 47, 1) 43%, rgba(18, 106, 102, 1) 100%);
}

.project-card:nth-child(5) {
    background: rgb(202, 255, 179);
    background: linear-gradient(90deg, rgba(202, 255, 179, 1) 0%, rgba(42, 147, 148, 1) 43%, rgba(79, 92, 115, 1) 100%);
}

.project-card:nth-child(6) {
    background: rgb(144, 142, 118);
    background: linear-gradient(90deg, rgba(144, 142, 118, 1) 0%, rgba(188, 224, 224, 1) 43%, rgba(153, 69, 140, 1) 100%);
}

/* Media Queries */
@media screen and (max-width: 800px) {
    #intro {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header.empty {
        height: 0px;
    }

    .bio main {
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width: 1000px) {
    #experience {
        background-position: 17%;
    }

    #experience main {
        width: 90%;
        padding-left: 25%;
    }

    #experience h1 {
        font-size: 4rem;
    }
}